In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("C:/Users/aayush/Desktop/NTU/MLPROJECTS/movier/imdb.csv")

In [3]:
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [5]:
movies.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [6]:
movies.shape

(1000, 16)

In [7]:
movies=movies.drop(['Poster_Link','Runtime','Meta_score','No_of_Votes','Gross','IMDB_Rating','Certificate','Released_Year'],axis=1)

In [8]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler

In [9]:
def remove_space(obj):    
    l=''
    l=obj.replace(" ","")
    return l

In [10]:
movies['Director']=movies['Director'].apply(remove_space)

In [11]:
movies['Star1']=movies['Star1'].apply(remove_space)
movies['Star2']=movies['Star2'].apply(remove_space)
movies['Star3']=movies['Star3'].apply(remove_space)
movies['Star4']=movies['Star4'].apply(remove_space)

In [12]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,FrankDarabont,TimRobbins,MorganFreeman,BobGunton,WilliamSadler
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,FrancisFordCoppola,MarlonBrando,AlPacino,JamesCaan,DianeKeaton
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,ChristopherNolan,ChristianBale,HeathLedger,AaronEckhart,MichaelCaine
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,FrancisFordCoppola,AlPacino,RobertDeNiro,RobertDuvall,DianeKeaton
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,SidneyLumet,HenryFonda,LeeJ.Cobb,MartinBalsam,JohnFiedler

In [13]:
movies['tags']=movies["Overview"]+movies['Genre']+"."+movies['Director']+"."+movies["Star1"]+"."+movies["Star2"]+"."+movies["Star3"]+"."+movies["Star4"]

In [14]:
movies.head()

,Series_Title,Genre,Overview,Director,Star1,Star2,Star3,Star4,tags
0,The Shawshank Redemption,Drama,Two imprisoned men bond over a number of years...,FrankDarabont,TimRobbins,MorganFreeman,BobGunton,WilliamSadler,Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",An organized crime dynasty's aging patriarch t...,FrancisFordCoppola,MarlonBrando,AlPacino,JamesCaan,DianeKeaton,An organized crime dynasty's aging patriarch t...
2,The Dark Knight,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,ChristopherNolan,ChristianBale,HeathLedger,AaronEckhart,MichaelCaine,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,"Crime, Drama",The early life and career of Vito Corleone in ...,FrancisFordCoppola,AlPacino,RobertDeNiro,RobertDuvall,DianeKeaton,The early life and career of Vito Corleone in ...
4,12 Angry Men,"Crime, Drama",A jury holdout attempts to prevent a miscarria...,SidneyLumet,HenryFonda,LeeJ.Cobb,MartinBalsam,JohnFiedler,A jury holdout attempts to prevent a miscarria...

In [15]:
movies=movies.drop(['Genre','Overview','Director','Star1','Star2','Star3','Star4'],axis=1)

In [16]:
movies['tags']=movies['tags'].apply(lambda x:x.lower())

In [17]:
movies.head()

               Series_Title                                               tags
0  The Shawshank Redemption  two imprisoned men bond over a number of years...
1             The Godfather  an organized crime dynasty's aging patriarch t...
2           The Dark Knight  when the menace known as the joker wreaks havo...
3    The Godfather: Part II  the early life and career of vito corleone in ...
4              12 Angry Men  a jury holdout attempts to prevent a miscarria...

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
vc = CountVectorizer(max_features = 5000, stop_words ='english')

In [32]:
vectors = vc.fit_transform(movies['tags']).toarray()

In [33]:
import nltk

In [34]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [35]:
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    
    return " ".join(l)

In [36]:
movies['tags']=movies['tags'].apply(stem)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vectors)

In [39]:
def recommend(movie):
    movie_index = movies[movies['Series_Title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(movies.iloc[i[0]].Series_Title)

In [40]:
recommend("The Dark Knight")

Batman Begins
The Dark Knight Rises
The Godfather: Part III
Scarface: The Shame of the Nation
American Psycho

In [41]:
import pickle

In [42]:
pickle.dump(movies,open('movies.pkl','wb'))

In [43]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [44]:
info = pd.read_csv("C:/Users/aayush/Desktop/NTU/MLPROJECTS/movier/imdb.csv")

In [46]:
pickle.dump(info,open('info.pkl','wb'))